{% extends "layout.html" %}
{% block content %}
    <form method="POST">
    {{ form.csrf_token }}
    {{ form.country }}
    {{ form.state }}
    {{ form.city }}
    <input type="submit">
    </form>
    <script>
        var country_select = document.getElementById("country");
        var state_select = document.getElementById("state");
        var city_select = document.getElementById("city");
        country_select.onchange = function()  {
             
            country = country_select.value;
            
            fetch('/state/' + country).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var state of data.states) {
                        optionHTML += '<option value="' + state.id + '">' + state.name + '</option>';
                    }
                    state_select.innerHTML = optionHTML;
                })
                
            });
        }
        state_select.onchange = function()  {

            country = country_select.value;
            state = state_select.value;
            
            fetch('/city/'+state+'/'+country).then(function(response) {
                response.json().then(function(data) {
                    var optionHTML = '';
                    for (var city of data.cities) {
                        optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';
                    }
                    city_select.innerHTML = optionHTML;
                })
                
            });
        }
    </script>
{% endblock content %}


