{% extends "layout.html" %}
{% block content %}
    <h1>Cascading Dropdown Bootstrap Cascader Example</h12>
    <div class="form-group">
      <div class="col-sm-10">
        <div id="example"></div>
      </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/bootstrap-cascader.min.js') }}"></script>

    <script>
      $(function() {
        var o = "ABCDEFJHIJKL".split(""),
            n = function() {
                return function(n, c) {
                    setTimeout(function() {
                        var e = n.length + 1,
                            d = [];
                        if (4 < e) return c(d);
                        var i = "",
                            t = "";
                        0 < n.length && (i = n[n.length - 1].c, t = n[n.length - 1].n), $.each(o, function(n, c) {
                            var a = {
                                c: i + n,
                                n: t + c
                            };
                            4 == e && (a.hasChild = !1), d.push(a)
                        }), c(d)
                    }, 500)
                }
            };
        $("#example").bsCascader({
            splitChar: " / ",
            btnCls: 'btn-primary',
            openOnHover: !0,
            lazy: !0,
            placeHolder: 'Select...',
            loadData: n()
        })
    });
    </script>
{% endblock scripts %}

